

@import url(https://use.typekit.net/ehn4ptz.css);




.big1 {background-color: #D4BE94;}

div.desc {
  font-family: "aktiv-grotesk", sans-serif;
  padding: 10px;
  text-align: center;
  margin-bottom: 30px;
  font-weight: semi-bold;
  font-size: 14px;

}

a {
  font-family: "aktiv-grotesk", sans-serif;


}

#red {background-color: #b62827;}

#green {background-color: #506248;
  font-family: "aktiv-grotesk"; 
  font-weight: 600;
  font-size: 13px;}

#beige {background-color: #596750}

#persimmon {background-color: #E04B26;
  font-weight: 600;
  font-size: 13px;}

#blue {background-color: #8CCCD3;
  font-family: "aktiv-grotesk"; 
  font-weight: 600;
  font-size: 13px;
  
}

#beigelight {background-color: #E3D6BD;
  font-family: "aktiv-grotesk"; 
  font-weight: 600;
  font-size: 13px;
  
 } 
 
.bg-custom-class {
  background-color: red;
}

#h1 {
font-family: "aktiv-grotesk", sans-serif; 
font-weight: 600;
font-style: normal;

}






